doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/webuploader.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/jquery/dist/jquery.js")
  body
    block content
